$wt: white;
$primary-color: hsl(218, 80%, 60%);
$mx-w: 100%;
$border: 1px solid rgba(0, 0, 0, 0.2);
$flex: flex;
$bdr: 0.438rem;
$txtc: center;
$gray: gray;
$green: hsl(164, 100%, 31%);
$light-blue: hsl(192, 91%, 38%);